@using UsersDiosna.Alarms.Models
@model AlarmFormModel


@{
    ViewBag.Title = "Alarms";
}
<h2 class="header">Alarms</h2>

@Html.Partial("~/Views/Alarm/_Form.cshtml")
@Html.Partial("~/Views/Alarm/_Content.cshtml")
